@import "global/variables.css";
/* @import "global/global.css"; */
/* @import "icons/icons.css"; */
@import "tabbar/tabbar.css";
@import "navbar/navbar.css";
/* @import "personalbar/personalbar.css"; */
/* @import "popup/popup.css"; */
/* @import "urlbar/urlbar.css"; */
/* @import "findbar/findbar.css"; */


/* Prevent urlbar enlargement */
#urlbar[breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
    width: 100% !important;
}

#urlbar[breakout-extend] #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding: 0px !important;
}
.urlbarView-row {
    padding: 0px 2px 0px 2px;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
  box-shadow: 0 1px 4px rgba(0,0,0,.05) !important;
  animation: none !important;
}
/* END Prevent urlbar enlargement */
